DATABASE_HOST=products-db
DATABASE_PORT=5433
DATABASE_USER=admin
DATABASE_PASS=B5pyKSjc
DATABASE_NAME=productsDB

CONTENTFUL_SPACE_ID=9xs1613l9f7v
CONTENTFUL_ACCESS_TOKEN=I-ThsT55eE_B3sCUWEQyDT4VqVO3x__20ufuie9usns
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_CONTENT_TYPE=product